<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analista General</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" href="styles/detalle_requerimiento.css" type="text/css" />
</head>

<body>
    <header class="bg-primary text-white text-center p-3">
        <h1>Bienvenido: <span id="username"></span></h1>
        <p>Fecha: <span id="date"></span></p>
    </header>

    <main class="mt-5">
        <div class="row justify-content-center">
            <!-- Columna de detalles y formulario -->
            <div class="col-md-6 details-column">
                <h2 class=" mb-4">Detalles del Requerimiento</h2>
                <p><strong>Fase Actual:</strong> <span id="currentPhase">2</span></p>
                <p>
                    <strong>Fecha Inicio:</strong>
                    <span id="startDate">20/05/2024</span>
                </p>
                <p>
                    <strong>Salario Mínimo:</strong>
                    <span id="minSalary">$1,000,000</span>
                </p>
                <p>
                    <strong>Salario Máximo:</strong>
                    <span id="maxSalary">$2,000,000</span>
                </p>
                <p>
                    <strong>Descripción Funciones:</strong>
                    <span id="jobDescription">Aquí va la descripción de las funciones del cargo.</span>
                </p>
                <p>
                    <strong>Descripción Carreras:</strong>
                    <span id="careerDescription">Aquí va la descripción de las carreras relacionadas con el
                        cargo.</span>
                </p>
                <p>
                    <strong>Convocatoria:</strong>
                    <span id="convocatoria">NO ha iniciado la fase de convocatoria</span>
                </p>
                <p>
                    <strong>Invitación:</strong>
                    <span id="invitacion">NO ha iniciado la fase de invitaciones</span>
                </p>
                <p>
                    <strong>Número de Vacantes:</strong>
                    <span id="vacancyNumber">5</span>
                </p>

                <!-- Formulario con select y botón de Asignar Perfil -->
                <form id="assignProfileForm" class="pt-3">
                    <div class="form-group">
                        <label for="profileSelect"><strong>Perfil: </strong> </label>
                        <select id="profileSelect" class="custom-select mb-3">
                            <option selected>Selecciona una opción</option>
                            <option value="1">Opción 1</option>
                            <option value="2">Opción 2</option>
                            <option value="3">Opción 3</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-info">Asignar Perfil</button>
                </form>
            </div>

            <div class="col-md-1"></div>

            <!-- Columna de acordeones -->
            <div class="col-md-5 accordions-column">
                <div class="accordion" id="accordionExample" style="width: 100%;">
                    <!-- Ancho del contenedor de los acordeones aumentado -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Abrir Convocatoria
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <textarea class="form-control mb-3" rows="3"
                                    placeholder="Detalles de la convocatoria"></textarea>
                                <button type="submit" class="btn btn-warning">Crear convocatoria</button>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Enviar Invitación
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <textarea class="form-control mb-3" rows="3"
                                    placeholder="Detalles de la invitación"></textarea>
                                <!-- Lista de acordeones checkbox -->
                                <div class="accordion" id="invitationAccordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="invitationHeadingOne">
                                            <div class="d-flex align-items-center">
                                                <input type="checkbox" id="invitationCheckboxOne"
                                                    class="form-check-input me-2">
                                                <button class="accordion-button collapsed flex-grow-1" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#invitationCollapseOne"
                                                    aria-expanded="true" aria-controls="invitationCollapseOne">
                                                    Invitado 1
                                                </button>
                                            </div>
                                        </h2>
                                        <div id="invitationCollapseOne" class="accordion-collapse collapse"
                                            aria-labelledby="invitationHeadingOne"
                                            data-bs-parent="#invitationAccordion">
                                            <div class="accordion-body">
                                                Contenido del invitado 1
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="invitationHeadingTwo">
                                            <div class="d-flex align-items-center">
                                                <input type="checkbox" id="invitationCheckboxTwo"
                                                    class="form-check-input me-2">
                                                <button class="accordion-button collapsed flex-grow-1" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#invitationCollapseTwo"
                                                    aria-expanded="false" aria-controls="invitationCollapseTwo">
                                                    Invitado 2
                                                </button>
                                            </div>
                                        </h2>
                                        <div id="invitationCollapseTwo" class="accordion-collapse collapse"
                                            aria-labelledby="invitationHeadingTwo"
                                            data-bs-parent="#invitationAccordion">
                                            <div class="accordion-body">
                                                Contenido del invitado 2
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success">Enviar Invitación</button>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Preseleccionar Candidatos
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <!-- Lista de acordeones checkbox -->
                                <div class="accordion" id="candidatesAccordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="candidateHeadingOne">
                                            <div class="d-flex align-items-center">
                                                <input type="checkbox" id="candidateCheckboxOne"
                                                    class="form-check-input me-2">
                                                <button class="accordion-button collapsed flex-grow-1" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#candidateCollapseOne"
                                                    aria-expanded="true" aria-controls="candidateCollapseOne">
                                                    Candidato 1
                                                </button>
                                            </div>
                                        </h2>
                                        <div id="candidateCollapseOne" class="accordion-collapse collapse"
                                            aria-labelledby="candidateHeadingOne" data-bs-parent="#candidatesAccordion">
                                            <div class="accordion-body">
                                                Contenido del candidato 1
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="candidateHeadingTwo">
                                            <div class="d-flex align-items-center">
                                                <input type="checkbox" id="candidateCheckboxTwo"
                                                    class="form-check-input me-2">
                                                <button class="accordion-button collapsed flex-grow-1" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#candidateCollapseTwo"
                                                    aria-expanded="false" aria-controls="candidateCollapseTwo">
                                                    Candidato 2
                                                </button>
                                            </div>
                                        </h2>
                                        <div id="candidateCollapseTwo" class="accordion-collapse collapse"
                                            aria-labelledby="candidateHeadingTwo" data-bs-parent="#candidatesAccordion">
                                            <div class="accordion-body">
                                                Contenido del candidato 2
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-secondary">Preseleccionar Candidatos</button>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Asignar Pruebas
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <!-- Lista de acordeones checkbox -->
                                <div class="accordion" id="testsAccordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="testHeadingOne">
                                            <div class="d-flex align-items-center">
                                                <input type="checkbox" id="testCheckboxOne"
                                                    class="form-check-input me-2">
                                                <button class="accordion-button collapsed flex-grow-1" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#testCollapseOne"
                                                    aria-expanded="true" aria-controls="testCollapseOne">
                                                    Prueba 1
                                                </button>
                                            </div>
                                        </h2>
                                        <div id="testCollapseOne" class="accordion-collapse collapse"
                                            aria-labelledby="testHeadingOne" data-bs-parent="#testsAccordion">
                                            <div class="accordion-body">
                                                <input type="datetime-local" class="form-control mb-3" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="testHeadingTwo">
                                            <div class="d-flex align-items-center">
                                                <input type="checkbox" id="testCheckboxTwo"
                                                    class="form-check-input me-2">
                                                <button class="accordion-button collapsed flex-grow-1" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#testCollapseTwo"
                                                    aria-expanded="false" aria-controls="testCollapseTwo">
                                                    Prueba 2
                                                </button>
                                            </div>
                                        </h2>
                                        <div id="testCollapseTwo" class="accordion-collapse collapse"
                                            aria-labelledby="testHeadingTwo" data-bs-parent="#testsAccordion">
                                            <div class="accordion-body">
                                                <input type="datetime-local" class="form-control mb-3" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-dark">Asignar prueba</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button id="returnButton" class="btn btn-light">Volver</button>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>